{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{#{% block sidebar %}#}
    {#{% include templateIndex ~ '/_cp/_components/nav.twig' with {#}
        {#pluginHandle: pluginHandle,#}
        {#sel: 'setup',#}
    {#} %}#}
{#{% endblock %}#}

{% block content %}

    <div class="readable">
        <h1>Setup</h1>
    </div>
    <hr/>
    <div class="readable">
        <h2>Getting Started</h2>
    </div>
    <p>Steps to getting started:</p>
    <ol>
        <li>
            Create a key pair.
            <ul>
                <li>
                    <a href="{{ cpUrl(baseCpPath ~ '/keychain/new') }}" class="go nowrap">
                        Install your own key
                    </a>
                </li>
                <li>
                    <a href="{{ cpUrl(baseCpPath ~ '/keychain/new-openssl') }}" class="go nowrap">
                        Use OpenSSL to create one
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ cpUrl(baseCpPath ~ '/metadata/my-provider') }}" class="go nowrap">
                Create your provider's metadata
            </a>
        </li>
        <li>
            <a href="{{ cpUrl(baseCpPath ~ '/metadata/new') }}" class="go nowrap">
                Install the Remote provider's metadata
            </a>
        </li>
    </ol>
    <hr/>
    {% if ownProvider %}

        <div class="readable">
            <h2>Your Provider Configuration</h2>
        </div>
        {{ forms.textField({
            label: "Entity ID"|t(pluginHandle ),
            name: "entityId",
            id: 'entityId',
            class: "code",
            value: ownProvider.entityId,
            errors: ownProvider.getErrors('entityId'),
            readonly: true,
            disabled: true
        }) }}
        {% if ownProvider.id %}
            {% if singleSignOnServices %}
                {% for binding, singleSignOnService in singleSignOnServices %}
                    {{ forms.textField({
                        label: "Single Signon Service (SSO) "|t(pluginHandle ),
                        instructions: "Binding: " ~ binding|t(pluginHandle ),
                        name: "sso",
                        id: 'sso',
                        class: "sso",
                        value: singleSignOnService,
                        readonly: true,
                        disabled: true
                    }) }}
                {% endfor %}

            {% endif %}

            {% if assertionConsumerServices %}
                {% for binding, assertionConsumerService in assertionConsumerServices %}
                    {{ forms.textField({
                        label: "Assertion Consumer Service (ACS) " |t(pluginHandle ),
                        instructions: "Binding: " ~ binding|t(pluginHandle ),
                        name: "acs",
                        id: 'acs',
                        class: "acs",
                        value: assertionConsumerService,
                        readonly: true,
                        disabled: true
                    }) }}
                {% endfor %}

            {% endif %}


            {% if singleLogoutServices %}
                {% for binding, singleLogoutService in singleLogoutServices %}
                    {{ forms.textField({
                        label: "Single Logout Service (SLO)" |t(pluginHandle ),
                        instructions: "Binding: " ~ binding|t(pluginHandle ),
                        name: "slo",
                        id: 'slo',
                        class: "slo",
                        value: singleLogoutService,
                        readonly: true,
                        disabled: true
                    }) }}
                {% endfor %}

            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}
