<nav>
    <ul>
        <li class="heading"><span>Menu</span></li>
        <li>
            <a href="{{ cpUrl(pluginHandle) }}" {% if sel == 'setup' %}class="sel"{% endif %}>
                <span class="label">Setup</span>
            </a>
            <a href="{{ cpUrl(pluginHandle ~ '/metadata/my-provider') }}">
                <span class="label">My Provider</span>
            </a>
            <a href="{{ cpUrl(pluginHandle ~ '/metadata') }}" {% if sel == 'metadata' %}class="sel"{% endif %}>
                <span class="label">Provider List</span>
            </a>
            <a href="{{ cpUrl(pluginHandle ~ '/keychain') }}" class="">
                <span class="label">Keychain</span>
            </a>
            <a href="{{ cpUrl(pluginHandle ~ '/settings') }}" {% if sel == 'settings' %}class="sel"{% endif %}>
                <span class="label">Settings</span>
            </a>
        </li>
    </ul>
</nav>
