{% macro syncOptions(provider, plugin) %}
    {% import "_includes/forms" as forms %}
    <div class="field">
        <div class="heading">
            <label>{{ "Sync User Groups"|t(plugin.handle) }}</label>
            <div class="instructions">
                Send the list of user groups the individual is assigned to?
            </div>
        </div>
        {{ forms.lightswitch({
            label: "syncGroups"|t(plugin.handle),
            id: 'syncGroups',
            name: 'syncGroups',
            errors: provider.getErrors('syncCroups'),
            on: provider.syncGroups,
            toggle: '.sync-group-settings',
        }) }}

    </div>
    <div class="sync-group-settings {% if not provider.syncGroups %}hidden{% endif %}">
        {{ forms.textField({
            label: "User Groups Attribute Name"|t(plugin.handle),
            instructions: "Name the User Groups will fall under.",
            placeholder: 'userGroups',
            id: 'groupsAttributeName',
            name: 'groupsAttributeName',
            maxlength: 64,
            value: provider.groupsAttributeName,
            errors: provider.getErrors('groupsAttributeName'),
        }) }}
    </div>
{% endmacro %}

{% macro conditionalAllow(provider, plugin) %}
    <h3>
        Syncing and Access Control
    </h3>
    <div class="field">
        <div class="heading">
            <label>Sync Groups</label>
            <div class="instructions">
                <p class="sync-group-settings {% if not provider.syncGroups %}hidden{% endif %}">
                    Sync groups with the user data by toggling the appropriate lightswitch next to the
                    desire group.
                </p>
            </div>
            <br/>
            <label>Access Control</label>
            <div class="instructions">
                <p>
                    Allow group access by toggling the appropriate switch next to the desire group. If the user is assigned
                    to any group toggled below, the user is allowed.
                    "<strong>Allow Any</strong>" allows all users access.
                    "<strong>No Group Assigned</strong>" encompasses all users that aren't associated to a Craft CMS
                    User Group. When "Allow" is set here, users not assigned to a group are allowed to login to the Service Provider.
                </p>
            </div>
        </div>
    </div>
    {% import "_includes/forms" as forms %}
    {% set groups = craft.app.userGroups.getAllGroups() %}
    <p id="nogroups"{% if groups|length %} class="hidden"{% endif %}>
        {{ "No groups exist yet."|t('app') }}
    </p>

    <table id="groups" class="data fullwidth collapsible">
        <thead>
        <th scope="col">
            <span class="sync-group-settings {% if not provider.syncGroups %}hidden{% endif %}">
                {{ "Sync Group"|t('app') }}
            </span>
        </th>
        <th scope="col">{{ "Allow Access"|t('app') }}</th>
        <th scope="col">{{ "Name"|t('app') }}</th>
        <th scope="col">{{ "Handle"|t('app') }}</th>
        </thead>
        <tbody>
        {% set allowany = {
            id: 'allowany',
            handle: 'n/a',
            name: 'Allow Any',
        } %}
        {% set groupOptions = provider.getGroupOptions() %}
        <tr data-id="{{ allowany.id }}" data-name="{{ allowany.handle }}">
            <td class="thin">
            </td>
            <td class="thin">
                {{ forms.lightswitch({
                    label: "Allow Access"|t(plugin.handle),
                    id: 'groupOptions-allow-' ~ allowany.id,
                    name: 'groupOptions[allow][' ~ allowany.id ~ ']',
                    value: allowany.id,
                    on: groupOptions.shouldAllow(allowany.id),
                    errors: provider.getErrors('groupOptions'),
                    small: true
                }) }}

            </td>
            <th scope="row" data-title="{{ 'Name'|t('app') }}">
                {{ allowany.name|t(plugin.handle) }}
            </th>
            <td data-title="{{ 'Handle'|t(plugin.handle) }}"><code>{{ allowany.handle }}</code></td>
        </tr>
        {% set nogroup = {
            id: 'nogroup',
            handle: 'n/a',
            name: 'No Group Assigned',
        } %}
        <tr data-id="{{ nogroup.id }}" data-name="{{ nogroup.handle }}">
            <td class="thin">
            </td>
            <td class="thin">
                {{ forms.lightswitch({
                    label: "Allow Access"|t(plugin.handle),
                    id: 'groupOptions-allow-' ~ nogroup.id,
                    name: 'groupOptions[allow][' ~ nogroup.id ~ ']',
                    value: nogroup.id,
                    on: groupOptions.shouldAllow(nogroup.id),
                    errors: provider.getErrors('groupOptions'),
                    small: true
                }) }}

            </td>
            <th scope="row" data-title="{{ 'Name'|t('app') }}">
                {{ nogroup.name|t(plugin.handle) }}
            </th>
            <td data-title="{{ 'Handle'|t(plugin.handle) }}"><code>{{ nogroup.handle }}</code></td>
        </tr>
        {% for group in groups %}
            <tr data-id="{{ group.id }}" data-name="{{ group.name|t('site') }}">
                <td class="thin">
                    <span class="sync-group-settings {% if not provider.syncGroups %}hidden{% endif %}">
                    {{ forms.lightswitch({
                        label: "Sync Group"|t(plugin.handle),
                        id: 'groupOptions-sync-' ~ group.id,
                        name: 'groupOptions[sync][' ~ group.id ~ ']',
                        value: group.id,
                        on: groupOptions.shouldSync(group.id),
                        errors: provider.getErrors('groupOptions'),
                        small: true
                    }) }}
                    </span>
                </td>
                <td class="thin">
                    {{ forms.lightswitch({
                        label: "Allow Access"|t(plugin.handle),
                        id: 'groupOptions-allow-' ~ group.id,
                        name: 'groupOptions[allow][' ~ group.id ~ ']',
                        value: group.id,
                        on: groupOptions.shouldAllow(group.id),
                        errors: provider.getErrors('groupOptions'),
                        small: true
                    }) }}

                </td>
                <th scope="row" data-title="{{ 'Name'|t('app') }}"><a
                            href="{{ url('settings/users/groups/' ~ group.id) }}">{{ group.name|t('site') }}</a>
                </th>
                <td data-title="{{ 'Handle'|t('app') }}"><code>{{ group.handle }}</code></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}
