{% macro syncOptions(provider, plugin) %}
    {% import "_includes/forms" as forms %}
    <div class="field">
        <div class="heading">
            <label>{{ "Sync User Groups"|t(plugin.handle) }}</label>
            <div class="instructions">
                Send the list of user groups the individual is assigned to?
            </div>
        </div>
        {{ forms.lightswitch({
            label: "syncGroups"|t(plugin.handle),
            id: 'syncGroups',
            name: 'syncGroups',
            errors: provider.getErrors('syncCroups'),
            on: provider.syncGroups,
            toggle: '.sync-group-settings',
        }) }}

    </div>
    <div class="sync-group-settings {% if not provider.syncGroups %}hidden{% endif %}">
        {{ forms.textField({
            label: "User Groups Attribute Name"|t(plugin.handle),
            instructions: "Name the User Groups will fall under.",
            placeholder: 'userGroups',
            id: 'groupsAttributeName',
            name: 'groupsAttributeName',
            maxlength: 64,
            value: provider.groupsAttributeName,
            errors: provider.getErrors('groupsAttributeName'),
        }) }}
    </div>
{% endmacro %}

{% macro conditionalDeny(provider, plugin) %}
    <div class="field">
        <div class="heading">
            <label>Conditional Group Access</label>
            <div class="instructions">
                <p class="sync-group-settings {% if not provider.syncGroups %}hidden{% endif %}"><strong>Sync</strong>
                    groups with the user data by toggling the appropriate lightswitch next to the
                    desire group.</p>
                <p><strong>Deny</strong> group access by toggling the appropriate lightswitch next to the desire group.
                </p>
            </div>
        </div>
    </div>
    {% import "_includes/forms" as forms %}
    {% set groups = craft.app.userGroups.getAllGroups() %}
    <p id="nogroups"{% if groups|length %} class="hidden"{% endif %}>
        {{ "No groups exist yet."|t('app') }}
    </p>

    {% if groups|length %}
        <table id="groups" class="data fullwidth collapsible">
            <thead>
            <th scope="col">
                <span class="sync-group-settings {% if not provider.syncGroups %}hidden{% endif %}">
                    {{ "Sync Group"|t('app') }}
                </span>
            </th>
            <th scope="col">{{ "Deny Access"|t('app') }}</th>
            <th scope="col">{{ "Name"|t('app') }}</th>
            <th scope="col">{{ "Handle"|t('app') }}</th>
            </thead>
            <tbody>
            {% for group in groups %}
                {% set groupOptions = provider.getGroupOptions() %}
                <tr data-id="{{ group.id }}" data-name="{{ group.name|t('site') }}">
                    <td class="thin">
                        <span class="sync-group-settings {% if not provider.syncGroups %}hidden{% endif %}">
                        {{ forms.lightswitch({
                            label: "Sync Group"|t(plugin.handle),
                            id: 'groupOptions-sync-' ~ group.id,
                            name: 'groupOptions[sync][' ~ group.id ~ ']',
                            value: group.id,
                            on: groupOptions.shouldSync(group.id),
                            errors: provider.getErrors('groupOptions'),
                            small: true
                        }) }}
                        </span>
                    </td>
                    <td class="thin">
                        {{ forms.lightswitch({
                            label: "Deny Access"|t(plugin.handle),
                            id: 'groupOptions-deny-' ~ group.id,
                            name: 'groupOptions[deny][' ~ group.id ~ ']',
                            value: group.id,
                            on: groupOptions.shouldDeny(group.id),
                            errors: provider.getErrors('groupOptions'),
                            small: true
                        }) }}

                    </td>
                    <th scope="row" data-title="{{ 'Name'|t('app') }}"><a
                                href="{{ url('settings/users/groups/' ~ group.id) }}">{{ group.name|t('site') }}</a>
                    </th>
                    <td data-title="{{ 'Handle'|t('app') }}"><code>{{ group.handle }}</code></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endmacro %}
