{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm=1 %}

{% block details %}
    <div id="settings">
        <div class="meta">

            <div class="data first">
                <h5 class="heading">{{ "Status"|t('app') }}</h5>
                <div class="value flex">
                    <div class="flex-grow">
                        <span class="status {% if provider.enabled %}active{% else %}inactive{% endif %}"></span>
                        {% if provider.enabled %}Enabled{% else %}Disabled{% endif %}
                    </div>
                    {% if actions|length %}
                        <div>
                            <div id="action-menubtn" class="btn menubtn" data-icon="settings" title="{{ 'Actions'|t('app') }}"></div>
                            <div class="menu">
                                {% for actionList in actions %}
                                    {% if not loop.first %}<hr>{% endif %}
                                    <ul>
                                        {% for actionItem in actionList %}
                                            <li><a
                                                        {%- if actionItem.id is defined %} id="{{ actionItem.id }}"{% endif %}
                                                        {%- if actionItem.action is defined %} class="formsubmit" data-action="{{ actionItem.action }}"{% endif -%}
                                                >{{ actionItem.label }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            </div>
                            <div id="action-spinner" class="spinner hidden"></div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {{ forms.selectField({
                label: "Provider Type"|t(pluginHandle ),
                id: 'providerType',
                name: 'providerType',
                value: provider.type,
                errors: provider.getErrors('type'),
                options: [{
                    value: 'idp',
                    label: 'Identity (IDP)',
                },{
                    value: 'sp',
                    label: 'Service (SP)',
                }],
                required: true
            }) }}

            {% if createType == myType %}
                {{ forms.selectField({
                    label: "Key Pair or <a target=\"_target\" href=\"/admin/" ~ baseCpPath ~ '/keychain/new' ~ "\">Create One</a>"|t(pluginHandle),
                    id: 'keychain',
                    name: 'keychain',
                    value: provider.keychain ? provider.keychain.id : '',
                    errors: provider.getErrors('keychain'),
                    options: allkeypairs|merge([{label:'None',value:null}]),
                    required: true
                }) }}
            {% endif %}
        </div>
        {% if provider.id %}
            <hr>
            <div class="meta read-only">
                <div class="data">
                    <h5 class="heading">{{ "Created at"|t('app') }}</h5>
                    <div class="value">{{ provider.dateCreated|datetime('short') }}</div>
                </div>
                <div class="data">
                    <h5 class="heading">{{ "Updated at"|t('app') }}</h5>
                    <div class="value">{{ provider.dateUpdated|datetime('short') }}</div>
                </div>
            </div>
        {% endif %}
    </div><!-- #settings -->

{% endblock %}

{% block content %}

    <input type="hidden" name="action"
           value="{{ baseActionPath }}/metadata/{% if createType == myType %}auto-create{% else %}save{% endif %}">
    {{ redirectInput(baseCpPath ~ '/metadata') }}

    {% if provider.id %}<input type="hidden" name="identifier" value="{{ provider.id }}">{% endif %}

    {{ forms.textField({
        label: "Entity ID"|t(pluginHandle ),
        instructions: "This is pulled from the Metadata and is readonly."|t(pluginHandle ),
        name: "entityId",
        id: 'entityId',
        class: "code",
        value: provider.entityId,
        errors: provider.getErrors('entityId'),
        readonly: true,
        disabled: true
    }) }}

    {% if provider.id %}
        {% if singleSignOnServices %}
            {% for binding, singleSignOnService in singleSignOnServices %}
                {{ forms.textField({
                    label: "Single Signon Service: SSO"|t(pluginHandle ),
                    instructions: "This is pulled from the Metadata and is readonly."|t(pluginHandle ),
                    name: "acs",
                    id: 'acs',
                    class: "acs",
                    value: singleSignOnService,
                    errors: provider.getErrors('acs'),
                    readonly: true,
                    disabled: true
                }) }}
            {% endfor %}

        {% endif %}

        {% if assertionConsumerServices %}
            {% for binding, assertionConsumerService in assertionConsumerServices %}
                {{ forms.textField({
                    label: "Assertion Consumer Service: ACS"|t(pluginHandle ),
                    instructions: "This is pulled from the Metadata and is readonly."|t(pluginHandle ),
                    name: "acs",
                    id: 'acs',
                    class: "acs",
                    value: assertionConsumerService,
                    errors: provider.getErrors('acs'),
                    readonly: true,
                    disabled: true
                }) }}
            {% endfor %}

        {% endif %}


        {% if singleLogoutServices %}
            {% for binding, singleLogoutService in singleLogoutServices %}
                {{ forms.textField({
                    label: "Single Logout Service: SLO"|t(pluginHandle ),
                    instructions: "This is pulled from the Metadata and is readonly."|t(pluginHandle ),
                    name: "acs",
                    id: 'acs',
                    class: "acs",
                    value: singleLogoutService,
                    errors: provider.getErrors('acs'),
                    readonly: true,
                    disabled: true
                }) }}
            {% endfor %}

        {% endif %}
    {% endif %}

    {% if provider.keychain and createType == myType %}
        <p>
            <a target="_blank"
               href="{{ actionUrl(pluginHandle ~ '/metadata/download-certificate?keyId='~provider.keychain.id) }}">
                Download Certificate
            </a>
        </p>
    {% endif %}

    {{ forms.textareaField({
        label: "Metadata XML"|t(pluginHandle ),
        instructions: "Paste Metadata XML from the provider."|t(pluginHandle ),
        class: "code",
        id: 'metadata',
        name: 'metadata',
        value: createType == myType and not provider.metadata ? 'This field is created automatically.' : provider.metadata,
        readonly: createType == myType ? true : false,
        disabled: createType == myType ? true : false,
        errors: provider.getErrors('metadata'),
        required: true,
        rows: 10
    }) }}
    <div class="item" data-position="right" data-colspan="1"></div>

{% endblock %}
