{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm=1 %}

{% set tabs = {
    security: {
        id:'security',
        class: 'security',
        url: '#security',
        label: 'Security'
    },
    configure: {
        id:'configure',
        class: 'configure',
        url: '#configure',
        label: 'Configure'
    },
    metadata: {
        id: 'metadata',
        class: 'metadata',
        url: '#metadata',
        label: 'Metadata'
    },
} %}

{% block details %}
    <div>
        <div class="meta">
            <div class="data first">
                <h5 class="heading">{{ "Enabled"|t('app') }}</h5>
                <div class="value flex">
                    <div class="flex-grow">
                        <span class="status {% if provider.enabled %}active{% else %}inactive{% endif %}"></span>
                        {% if provider.enabled %}Enabled{% else %}Disabled{% endif %}
                    </div>
                    {% if actions|length %}
                        <div>
                            <div id="action-menubtn" class="btn menubtn" data-icon="settings"
                                 title="{{ 'Actions'|t('app') }}"></div>
                            <div class="menu">
                                {% for actionList in actions %}
                                    {% if not loop.first %}
                                        <hr>{% endif %}
                                    <ul>
                                        {% for actionItem in actionList %}
                                            <li><a
                                                        {%- if actionItem.id is defined %} id="{{ actionItem.id }}"{% endif %}
                                                        {%- if actionItem.action is defined %} class="formsubmit" data-action="{{ actionItem.action }}"{% endif -%}
                                                >{{ actionItem.label }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            </div>
                            <div id="action-spinner" class="spinner hidden"></div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="meta">
            {{ forms.selectField({
                label: "Provider Type"|t(plugin.handle ),
                id: 'providerType',
                name: 'providerType',
                value: provider.id ? provider.type : createType,
                errors: provider.getErrors('type'),
                options: [{
                    value: 'idp',
                    label: 'Identity (IDP)',
                },{
                    value: 'sp',
                    label: 'Service (SP)',
                }],
                required: true
            }) }}
        </div>
        {% if provider.id %}
            <hr>
            <div class="meta read-only">
                <div class="data">
                    <h5 class="heading">{{ "Created at"|t('app') }}</h5>
                    <div class="value">{{ provider.dateCreated|datetime('short') }}</div>
                </div>
                <div class="data">
                    <h5 class="heading">{{ "Updated at"|t('app') }}</h5>
                    <div class="value">{{ provider.dateUpdated|datetime('short') }}</div>
                </div>
            </div>
        {% endif %}
    </div><!-- #settings -->
{% endblock %}

{% block content %}

    <div id="name">
        <input type="hidden" name="action"
               value="{{ baseActionPath }}/metadata/{% if createType == myType or myType == provider.type %}auto-create{% else %}save{% endif %}">
        {{ redirectInput(baseCpPath ~ '/metadata/' ) }}

        {% if provider.id %}<input type="hidden" name="identifier" value="{{ provider.id }}">{% endif %}

        {{ forms.textField({
            label: "Label"|t(plugin.handle ),
            instructions: "Friendly name for the provider. You can use the providers name (like `OKTA`) or the environment (`DEV`) so everyone knows it's purpose."|t(plugin.handle ),
            name: "label",
            id: 'label',
            required: true,
            value: provider.label,
            errors: provider.getErrors('label'),
        }) }}
    </div>
    {#
        Default showing
    #}
    <div id="security">
        {% if createType == myType %}
            <h2 class="saml-cp-header">Key Pairs</h2>
            <div class="field">
                <div class="heading">
                    {% if provider.keychain %}
                        <a target="_blank"
                           class="go"
                           href="{{ actionUrl(plugin.handle ~ '/metadata/download-certificate?keyId='~provider.keychain.id) }}">
                            Download Certificate
                        </a>
                        <br/>
                    {% endif %}
                    <a class="go"
                       href="/{{ craft.app.config.general.cpTrigger }}/{{ plugin.handle }}/keychain"
                    >Manage key pairs</a>
                    <div class="instructions">
                        <p>Be careful when changing the keys. You need to exchange the certificate with the other
                            provider to make new keys work correctly.</p>
                        <p>
                            Note: It is <strong>highly recommended</strong> to create and assign a key pair.
                        </p>
                    </div>
                </div>
            </div>
            {{ forms.selectField({
                label: "Select Existing Key Pair"|t(plugin.handle),
                id: 'keychain',
                name: 'keychain',
                value: provider.keychain ? provider.keychain.id : '',
                errors: provider.getErrors('keychain'),
                options: allkeypairs|merge([{label:'None',value:null}]),
                required: true
            }) }}
            <div class="field">
                <div class="heading">
                    <label>Automatically Generate and Assign a New Key Pair</label>
                </div>
                <div class="input ltr">
                    <a id="generate-key" role="button" class="btn submit">Generate key pair</a>
                </div>
                {% do view.registerAssetBundle("flipbox\\keychain\\web\\assets\\bundles\\GenerateKeyPair") %}
                {% js %}
                    new Craft.GenerateKeyPair(
                        $('#generate-key'),
                        $('#keychain'),
                        "{{ plugin.handle }}"
                    );
                {% endjs %}
            </div>
        {% endif %}
        {% if myType == 'idp' and provider.type == 'sp' %}
            <div class="field">
                <h2 class="saml-cp-header">Encryption</h2>
                <div class="heading">
                    <label>{{ "Wants Encrypt Assertions"|t(plugin.handle) }}</label>
                </div>
                {{ forms.lightswitch({
                    label: "Encrypt Assertions"|t(plugin.handle),
                    id: 'encryptAssertions',
                    name: 'encryptAssertions',
                    on: provider.encryptAssertions,
                    errors: provider.getErrors('encryptAssertion'),
                    toggle: 'assertion-encryption-settings',
                }) }}

            </div>
{#            <div id="assertion-encryption-settings" class="{% if not provider.encryptAssertions %}hidden{% endif %}">#}
{#                {{ forms.selectField({#}
{#                    label: "Encryption Method"|t(plugin.handle),#}
{#                    id: 'encryptionMethod',#}
{#                    name: 'encryptionMethod',#}
{#                    errors: provider.getErrors('encryptionMethod'),#}
{#                    value: provider.encryptionMethod,#}
{#                    options: [{#}
{#                        label: 'AES128_CBC',#}
{#                        value: constant('\\RobRichards\\XMLSecLibs\\XMLSecurityKey::AES128_CBC'),#}
{#                    },{#}
{#                        label: 'AES192_CBC',#}
{#                        value: constant('\\RobRichards\\XMLSecLibs\\XMLSecurityKey::AES192_CBC'),#}
{#                    },{#}
{#                        label: 'AES256_CBC',#}
{#                        value: constant('\\RobRichards\\XMLSecLibs\\XMLSecurityKey::AES256_CBC'),#}
{#                    },{#}
{#                        label: 'RSA_1_5',#}
{#                        value: constant('\\RobRichards\\XMLSecLibs\\XMLSecurityKey::RSA_1_5'),#}
{#                    },{#}
{#                        label: 'RSA_OAEP_MGF1P',#}
{#                        value: constant('\\RobRichards\\XMLSecLibs\\XMLSecurityKey::RSA_OAEP_MGF1P'),#}
{#                    }],#}
{#                }) }}#}

{#            </div>#}
        {% endif %}
    </div>

    <div id="configure" class="hidden">
        {% if (( myType == 'sp' and provider.isIdentityProvider() ) or ( myType == 'idp' and provider.isServiceProvider() )) and provider.loginPath %}
            <br/>
            <h2 class="saml-cp-header">Login/Logout Paths</h2>
            {{ forms.textField({
                label: "Login Path"|t(plugin.handle ),
                instructions: myType == 'sp' ?
                    "Use this as the `loginPath` value in the `general.php` configuration file."|t(plugin.handle ) :
                    "URL to initiate SSO via IDP. In human terms, " ~
                    "goto this link to initiate login with this Service Provider. " ~
                    "[More Info](https://saml-idp.flipboxfactory.com/initiating-sso.html#identity-provider-idp-initiated)",
                name: "loginPath",
                id: 'loginPath',
                class: "code",
                value: (myType == 'sp' and provider.isIdentityProvider()) ? provider.loginRequestPath : provider.loginPath,
                readonly: true,
                disabled: true
            }) }}

            {{ forms.textField({
                label: "Logout Path"|t(plugin.handle ),
                instructions: "Use this URL to initiate Single Logout (SLO) with this provider."|t(plugin.handle ),
                name: "logoutPath",
                id: 'logoutPath',
                class: "code",
                value: (myType == 'sp' and provider.isIdentityProvider()) ? provider.logoutRequestPath : provider.logoutPath,
                readonly: true,
                disabled: true
            }) }}
        {% endif %}

        {# Mapping #}
        {% if (myType == 'sp' and provider.type == 'idp') or (myType == 'idp' and provider.type == 'sp') %}
            {% import 'saml-core/_cp/metadata/_macros/mapping' as  map %}
            {{ map.mappingInputTable(
                provider, plugin
            ) }}
            <br/>
        {% endif %}

        {# Groups #}
        {% if (myType == 'idp' and provider.type == 'sp') %}
            {% import 'saml-core/_cp/metadata/_macros/groups' as  groups %}
            <h2 class="saml-cp-header">Groups</h2>
            {{ groups.syncOptions(provider, plugin) }}

            {{ groups.conditionalAllow(provider, plugin) }}
            <br>
            <br>
        {% endif %}

    </div>
    <div id="metadata" class="hidden">
        <h2 class="saml-cp-header">Entity ID and Metadata</h2>
        {% if myType == provider.type or myType == createType %}
            {{ forms.textField({
                label: "Entity ID"|t(plugin.handle ),
                instructions: "Important: It's recommended to use the value provided. " ~
                " If this value matches a seperate environment, verify it matchs the other environment's "~
                "`baseUrl` exactly. If it's absolutely nessesary to change this value, the config property in the "~
                "`config/"~plugin.handle~".php`."
                |t(plugin.handle ),
                name: "entityId",
                id: 'entityId',
                class: "code",
                value: provider.entityId ?: ownEntityId,
                errors: provider.getErrors('entityId'),
                readonly: false,
                disabled: false
            }) }}
        {% else %}
            {{ forms.textField({
                label: "Entity ID"|t(plugin.handle ),
                instructions: "This is pulled from the Metadata and is readonly."|t(plugin.handle ),
                name: "entityId",
                id: 'entityId',
                class: "code",
                value: provider.entityId,
                errors: provider.getErrors('entityId'),
                readonly: true,
                disabled: true
            }) }}
        {% endif %}

        <div >
        </div>
        <h2 class="saml-cp-header">Metadata Options</h2>

        {% if createType != myType %}
            <p>Metadata can be configured in *ONE* of the following ways. One of the following is required.</p>
        {% endif %}
        <div class="field" id="metadata-url-field">
            <div class="heading">
                {% if createType != myType %}
                <label>
                </label>

                <div class="flex">
                    <div class="flex-grow ">
                        {{ forms.textField({
                            label: "1. Metadata By URL"|t('app'),
                            instructions: 'If the URL is public the metadata will be fetched on save. This can be helpful if the metadata or certificates change frequently. Simply hit save to refresh the metadata.',
                            id: 'metadata-url-text',
                            name: 'metadata-url-text',
                            autocomplete: false,
                            value: provider.getMetadataOptions().url,
                            errors: provider.getErrors('metadata-url-text'),
                        }) }}
                    </div>

{#                    <div class="flex-sm-grow-1">#}
{#                        {{ forms.textField({#}
{#                            label: "Refresh Interval"|t('app'),#}
{#                            id: 'metadata-url-interval-text',#}
{#                            name: 'metadata-url-interval-text',#}
{#                            autocomplete: false,#}
{#                            value: provider.getMetadataOptions().expiryInterval,#}
{#                            errors: provider.getErrors('metadata-url-interval-text'),#}
{#                            placeholder: 'P7D'#}
{#                        }) }}#}
{#                    </div>#}
{#                    {% if provider.getMetadataOptions().expiryInterval %}#}
{#                        <div class="flex-sm-grow-1">#}
{#                            {{ forms.textField({#}
{#                                label: "Expiry Date"|t('app'),#}
{#                                id: 'metadata-url-interval-date-text',#}
{#                                name: 'metadata-url-interval-date-text',#}
{#                                autocomplete: false,#}
{#                                value: provider.getMetadataOptions().expiryDate|date('Y/m/d'),#}
{#                                errors: provider.getErrors('metadata-url-interval-text'),#}
{#                                readonly: true,#}
{#                                disabled: true,#}
{#                            }) }}#}
{#                        </div>#}
{#                    {% endif %}#}
                </div>
                {% endif %}
                {{ forms.textareaField({
                    label: createType == myType ? 'Metadata XML' : '2. Metadata XML',
                    instructions: createType == myType ?
                        "Share this XML with the other provider." :
                        "Paste Metadata XML from the provider. This will be overwritten when the Metadata Url is being used."|t(plugin.handle ),
                    class: "code",
                    id: 'metadata-text',
                    name: 'metadata-text',
                    value: createType == myType and not provider.metadata ? 'This field is created automatically.' : provider.metadata,
                    readonly: createType == myType ? true : false,
                    disabled: createType == myType ? true : false,
                    errors: provider.getErrors('metadata-text'),
                    rows: 10
                }) }}
            </div>
        </div>


        {% if provider.id %}
            <h2 class="saml-cp-header">Bindings</h2>
            {% if singleSignOnServices %}
                {% for binding, singleSignOnService in singleSignOnServices %}
                    {{ forms.textField({
                        label: "Single Signon Service (SSO) "|t(plugin.handle ),
                        instructions: "Binding: " ~ binding|t(plugin.handle ),
                        name: "acs",
                        id: 'acs',
                        class: "acs",
                        value: singleSignOnService,
                        errors: provider.getErrors('acs'),
                        readonly: true,
                        disabled: true
                    }) }}
                {% endfor %}

            {% endif %}

            {% if assertionConsumerServices %}
                {% for binding, assertionConsumerService in assertionConsumerServices %}
                    {{ forms.textField({
                        label: "Assertion Consumer Service (ACS) " |t(plugin.handle ),
                        instructions: "Binding: " ~ binding|t(plugin.handle ),
                        name: "acs",
                        id: 'acs',
                        class: "acs",
                        value: assertionConsumerService,
                        errors: provider.getErrors('acs'),
                        readonly: true,
                        disabled: true
                    }) }}
                {% endfor %}

            {% endif %}


            {% if singleLogoutServices %}
                {% for binding, singleLogoutService in singleLogoutServices %}
                    {{ forms.textField({
                        label: "Single Logout Service (SLO)" |t(plugin.handle ),
                        instructions: "Binding: " ~ binding|t(plugin.handle ),
                        name: "acs",
                        id: 'acs',
                        class: "acs",
                        value: singleLogoutService,
                        errors: provider.getErrors('acs'),
                        readonly: true,
                        disabled: true
                    }) }}
                {% endfor %}

            {% endif %}
        {% endif %}

    </div>
{% endblock %}

